<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
<servlet-name>adds</servlet-name>
<servlet-class>com.sm.controllers.adds</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>adds</servlet-name>
<url-pattern>/as</url-pattern>
</servlet-mapping>
 <servlet>
<servlet-name>adde</servlet-name>
<servlet-class>com.sm.controllers.adde</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>adde</servlet-name>
<url-pattern>/ae</url-pattern>
</servlet-mapping>
 <servlet>
<servlet-name>addcControllers</servlet-name>
<servlet-class>com.sm.controllers.addcControllers</servlet-class>

</servlet>  
<servlet-mapping>
<servlet-name>addcControllers</servlet-name>
<url-pattern>/InsertC</url-pattern>
</servlet-mapping>
 <servlet>
<servlet-name>dels</servlet-name>
<servlet-class>com.sm.controllers.dels</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>dels</servlet-name>
<url-pattern>/ds</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>dele</servlet-name>
<servlet-class>sm.controllers.dele</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>dele</servlet-name>
<url-pattern>/de</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>delc</servlet-name>
<servlet-class>com.sm.controllers.delc</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>delc</servlet-name>
<url-pattern>/dc</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>fetalls</servlet-name>
<servlet-class>com.sm.controllers.fetalls</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>fetalls</servlet-name>
<url-pattern>/fals</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>fetalle</servlet-name>
<servlet-class>com.sm.controllers.fetalle</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>fetalle</servlet-name>
<url-pattern>/fale</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>fetallc</servlet-name>
<servlet-class>com.sm.controllers.fetallc</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>fetallc</servlet-name>
<url-pattern>/falc</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>fetans</servlet-name>
<servlet-class>com.sm.controllers.fetans</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>fetans</servlet-name>
<url-pattern>/fans</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>fetanc</servlet-name>
<servlet-class>com.sm.controllers.fetanc</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>fetanc</servlet-name>
<url-pattern>/fanc</url-pattern>

</servlet-mapping>
<servlet>
<servlet-name>fetane</servlet-name>
<servlet-class>com.sm.controllers.fetane</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>fetane</servlet-name>
<url-pattern>/fane</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>upds</servlet-name>
<servlet-class>com.sm.controllers.upds</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>upds</servlet-name>
<url-pattern>/ups</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>updc</servlet-name>
<servlet-class>com.sm.controllers.updc</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>updc</servlet-name>
<url-pattern>/upc</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>upde</servlet-name>
<servlet-class>com.sm.controllers.upde</servlet-class>
</servlet>  
<servlet-mapping>
<servlet-name>upde</servlet-name>
<url-pattern>/upe</url-pattern>
</servlet-mapping>
</web-app>